slnProject1/.vs/slnProject1/v15/Server/sqlite3/storage.ide-shm
slnProject1/.vs/slnProject1/v15/Server/sqlite3/storage.ide-wal
slnProject1/prjProject1/obj/Debug/prjProject1.csproj.CoreCompileInputs.cache
slnProject1/.vs/slnProject1/v15/.suo
slnProject1/prjProject1/obj/Debug/prjProject1.csproj.FileListAbsolute.txt
slnProject1/prjProject1/obj/Debug/prjProject1.csprojAssemblyReference.cache
slnProject1/prjProject1/obj/Debug/edmxResourcesToEmbed/Models/testModel1.csdl
slnProject1/prjProject1/obj/Debug/edmxResourcesToEmbed/Models/testModel1.msl
slnProject1/prjProject1/obj/Debug/edmxResourcesToEmbed/Models/testModel1.ssdl
