slnProject1/.vs/slnProject1/v15/Server/sqlite3/storage.ide-shm
slnProject1/.vs/slnProject1/v15/Server/sqlite3/storage.ide-wal
slnProject1/prjProject1/obj/Debug/prjProject1.csproj.CoreCompileInputs.cache
slnProject1/.vs/slnProject1/v15/.suo
slnProject1/prjProject1/obj/Debug/prjProject1.csproj.FileListAbsolute.txt
slnProject1/prjProject1/obj/Debug/prjProject1.csprojAssemblyReference.cache
slnProject1/prjProject1/obj/Debug/edmxResourcesToEmbed/Models/testModel1.csdl
slnProject1/prjProject1/obj/Debug/edmxResourcesToEmbed/Models/testModel1.msl
slnProject1/prjProject1/obj/Debug/edmxResourcesToEmbed/Models/testModel1.ssdl
slnProject1/prjProject1/bin/EntityFramework.SqlServer.xml
slnProject1/prjProject1/bin/EntityFramework.xml
slnProject1/prjProject1/bin/prjProject1.dll
slnProject1/prjProject1/bin/prjProject1.dll.config
slnProject1/prjProject1/bin/prjProject1.pdb
slnProject1/prjProject1/bin/System.Web.Helpers.xml
slnProject1/prjProject1/bin/System.Web.Mvc.xml
slnProject1/prjProject1/bin/System.Web.Razor.xml
slnProject1/prjProject1/bin/System.Web.Webpages.Deployment.xml
slnProject1/prjProject1/bin/System.Web.Webpages.Razor.xml
slnProject1/prjProject1/bin/System.Web.Webpages.xml
slnProject1/prjProject1/bin/roslyn/csc.exe
slnProject1/prjProject1/bin/roslyn/csc.exe.config
slnProject1/prjProject1/bin/roslyn/csc.rsp
slnProject1/prjProject1/bin/roslyn/csi.exe
slnProject1/prjProject1/bin/roslyn/csi.exe.config
slnProject1/prjProject1/bin/roslyn/csi.rsp
slnProject1/prjProject1/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
slnProject1/prjProject1/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
slnProject1/prjProject1/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
slnProject1/prjProject1/bin/roslyn/Microsoft.CodeAnalysis.dll
slnProject1/prjProject1/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
slnProject1/prjProject1/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
slnProject1/prjProject1/bin/roslyn/Microsoft.CSharp.Core.targets
slnProject1/prjProject1/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
slnProject1/prjProject1/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
slnProject1/prjProject1/bin/roslyn/Microsoft.Managed.Core.targets
slnProject1/prjProject1/bin/roslyn/Microsoft.VisualBasic.Core.targets
slnProject1/prjProject1/bin/roslyn/System.AppContext.dll
slnProject1/prjProject1/bin/roslyn/System.Collections.Immutable.dll
slnProject1/prjProject1/bin/roslyn/System.Console.dll
slnProject1/prjProject1/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
slnProject1/prjProject1/bin/roslyn/System.Diagnostics.StackTrace.dll
slnProject1/prjProject1/bin/roslyn/System.IO.Compression.dll
slnProject1/prjProject1/bin/roslyn/System.IO.FileSystem.dll
slnProject1/prjProject1/bin/roslyn/System.IO.FileSystem.Primitives.dll
slnProject1/prjProject1/bin/roslyn/System.IO.Pipes.AccessControl.dll
slnProject1/prjProject1/bin/roslyn/System.IO.Pipes.dll
slnProject1/prjProject1/bin/roslyn/System.Reflection.Metadata.dll
slnProject1/prjProject1/bin/roslyn/System.Security.AccessControl.dll
slnProject1/prjProject1/bin/roslyn/System.Security.Claims.dll
slnProject1/prjProject1/bin/roslyn/System.Security.Cryptography.Algorithms.dll
slnProject1/prjProject1/bin/roslyn/System.Security.Cryptography.Encoding.dll
slnProject1/prjProject1/bin/roslyn/System.Security.Cryptography.Primitives.dll
slnProject1/prjProject1/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
slnProject1/prjProject1/bin/roslyn/System.Security.Principal.Windows.dll
slnProject1/prjProject1/bin/roslyn/System.Text.Encoding.CodePages.dll
slnProject1/prjProject1/bin/roslyn/System.ValueTuple.dll
slnProject1/prjProject1/bin/roslyn/System.Xml.ReaderWriter.dll
slnProject1/prjProject1/bin/roslyn/System.Xml.XmlDocument.dll
slnProject1/prjProject1/bin/roslyn/System.Xml.XPath.dll
slnProject1/prjProject1/bin/roslyn/System.Xml.XPath.XDocument.dll
slnProject1/prjProject1/bin/roslyn/vbc.exe
slnProject1/prjProject1/bin/roslyn/vbc.exe.config
slnProject1/prjProject1/bin/roslyn/vbc.rsp
slnProject1/prjProject1/bin/roslyn/VBCSCompiler.exe
slnProject1/prjProject1/bin/roslyn/VBCSCompiler.exe.config
slnProject1/prjProject1/bin/zh-Hant/EntityFramework.resources.dll
slnProject1/prjProject1/bin/zh-Hant/System.Web.Helpers.resources.dll
slnProject1/prjProject1/bin/zh-Hant/System.Web.Mvc.resources.dll
slnProject1/prjProject1/bin/zh-Hant/System.Web.Razor.resources.dll
slnProject1/prjProject1/bin/zh-Hant/System.Web.Webpages.Deployment.resources.dll
slnProject1/prjProject1/bin/zh-Hant/System.Web.Webpages.Razor.resources.dll
slnProject1/prjProject1/bin/zh-Hant/System.Web.Webpages.resources.dll
slnProject1/prjProject1/obj/Debug/prjProject1.csproj.CopyComplete
slnProject1/prjProject1/obj/Debug/prjProject1.dll
slnProject1/prjProject1/obj/Debug/prjProject1.pdb
slnProject1/prjProject1/obj/Debug/TempPE/Models.testModel1.Context.cs.dll
