slnProject1/.vs/slnProject1/v15/Server/sqlite3/storage.ide-shm
slnProject1/.vs/slnProject1/v15/Server/sqlite3/storage.ide-wal
slnProject1/prjProject1/obj/Debug/prjProject1.csproj.CoreCompileInputs.cache
